*{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media screen and (max-width: 500px) {
    
}
body{
    overflow-x: hidden;
    transition: 2s ease-in;
    background: white;
}
nav{
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 20px 10px;
    gap: 20%;
    justify-content: center;
    box-shadow: 4px 4px 4px 4px rgba(240, 235, 235, 0.34);
    align-items: center;
    z-index: 10;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
.hero-sect{
    padding-top: 20px;
    display: flex;
    width: 100%;
}
nav button{
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    padding: 7px 20px;
    border: 2px solid rgb(4, 9, 15);
}
nav ul li:hover{
    text-decoration: underline;
}
h1{
    font-size: 50px;
}
.hero{
    width: 30%;
    flex-direction: column;
    display: flex;
    height: 80vh;
    padding: 0px 11%;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    /* background-color: orangered; */
}
a{
    text-decoration: none;
    color: black;
}
.logo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: 900;
}
.m{
    font-weight: bold;
    font-size: large;
}
.tittle{
    width: fit-content;
    height: 45px;
    color: white;
    border-radius: 20.5px;
    background-color: orangered;
    padding: 0px 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    top:300px;
    left: 350px;
}
.orange{
    width: fit-content;
    height: fit-content;
    color: white;
    background-color: orangered;
    padding: 7px 13px;
    margin-top: 20px;
}
.dark{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
    background: linear-gradient(to right, white 0%, white 50%, black 50%, black 100%);
}
.together{
    display: flex;
    gap: 10px;
}
.left{
    width: 45%;
    height: fit-content;
    align-items: flex-end;
    justify-content: left;
    padding: 0;
}
.image{
    /* background-image: url(frg.jpeg); */
    width: 100%;
    height: 83vh;
    background-size: cover;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    background-position: center;
    justify-content: center;
    align-items: center;
    gap: 70%;
    padding: 10px 50px;
}
.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.form input{
    width: 140px;
    height: fit-content;
    padding: 10px 10px;
    display: flex;
    padding-right: 80px;
    border: none;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.34);
}
form button{
    z-index: 10;
    margin-left: -72px;
    width: fit-content;
    height: fit-content;
    color: white;
    padding: 7px 12px;
    background-color: black;
    border: none;
}
footer{
width: 55%;
height: fit-content;
background-color: black;
color: white;
position: absolute;
bottom: 0;
left: 0%;
list-style: none;
display: flex;
align-items: center;
justify-content: center;
padding: 20px 0px;
gap: 30%;
}
footer button{
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: yellow;
    font-weight: bolder;
    font-size: medium;
    padding: 10px 15px;
}
ul li{
    list-style: none;
    cursor: pointer;
}
footer ul{
width: fit-content;
height: fit-content;
display: flex;
flex-direction: column;
gap: 15px;
}
footer li{
    display: flex;
    gap: 80px;
}
.two{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.one{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
    font-size: medium;
}
.parent{
    display: inline;
    transition: 3s;
    
}
.about-sect{
    width: 100%;
    display: none;
    justify-content: center;
    transition: 2s;
    background: transparent;
    /* align-items: center; */
}
.about-sect section{
    width: 50%;
}
.about-sect section div{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    text-align: start;
    gap: 20px;
}
.about-sect b{
    font-size: xx-large;
}
.about-sect div{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 20px;
}
.secr{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    text-align: start;
    gap: 20px;
}
.secr div{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 20px;
}
.nav{
    display: none;
}